#header{
  padding: auto;
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  background: #FFBD73;
  font-size: 200%;
}

#tweets{
  text-align: center;
  font-family: 'Wendy One', sans-serif;
}

body{
  background: #BF7C30;
}