#header{
  padding: auto;
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  background: #FFBD73;
  font-size: 150%;
}

#user_interface{
  padding: auto;
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  background: #FFBD73;
  font-size: 120%;
}

#tweets{
  text-align: center;
  font-family: 'Wendy One', sans-serif;
}

body{
  background: #BF7C30;
}

#tweet_counter{
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  font-size: 110%;
}