#header{
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  background: #FFBD73;
}

#tweets{
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  background: #FFA540;
  
}

body{
  background: #BF7C30;
}